.card {
    display: flex;
    flex-direction: column;
    width: 18vw;
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 16px 10px 16px;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 4%;
}
  

.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}


.menuVertical img{
    width: 25px;
    height: 25px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    width: 90%;
    align-self: center;
}

.avatar {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .3);
    width: 35px;
    height: 35px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.nome {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.conteudo {
    color: #707070;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    /* height: 40%; */
    align-self: center;
    margin-bottom: 16px;
}

.denuncia {
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
}

.iconeDenuncia {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.denuncias {
    display: flex;
    color: #A80301;
    margin-bottom: 10px;
}

.quantidadeDenuncias, .denuncias p {
    font-family: "Nunito Sans", sans-serif;
}

.denuncias p {
    margin-left: 5px;
}

.quantidadeDenuncias {
    display: flex;
}

.popup {
    width: 6vw;
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: "Nunito Sans", sans-serif;
}

.popup img {
    margin-right: 5px;
    width: 20px;
}

.opcao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opcao span{
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
}

.linhaPopup {
    width: 100%;
    height: 1px;
    background-color: #D3D3D3;
}

.popupButton img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/* Estilo para o botão de denunciar */
.popupButtonDenunciar {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.popupButtonDenunciar img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
}

.modalContent h3, .modalContent p{
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
}

.confirmButton {
    background-color: #A80301;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.cancelButton {
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.confirmButton:hover, .cancelButton:hover {
    opacity: 0.8;
}