.card {
    display: flex;
    flex-direction: column;
    width: 18vw;
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 16px 10px 16px;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 4%;
}
  

.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}


.menuVertical img{
    width: 25px;
    height: 25px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    width: 90%;
    align-self: center;
}

.avatar {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .3);
    width: 35px;
    height: 35px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.nome {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.conteudo {
    color: #707070;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    /* height: 40%; */
    align-self: center;
    margin-bottom: 16px;
}

.denuncia {
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
}

.iconeDenuncia {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.denuncias {
    display: flex;
    color: #A80301;
}

.quantidadeDenuncias, .denuncias p {
    font-family: "Nunito Sans", sans-serif;
}

.denuncias p {
    margin-left: 5px;
}

.quantidadeDenuncias {
    display: flex;
}