@font-face {
    font-family: "NunitoSans";
    src: url('../../utils/fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf') format("truetype");
}

@font-face {
    font-family: "NunitoSansExtraLight";
    src: url('../../utils/fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraLight.ttf');
}

* {
    margin: 0;
    justify-content: center;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("../../utils/assets/BubblesLogin.png");
    background-repeat: no-repeat;
    background-position: top;
    flex-direction: column;
}

.loginMobileTitulo {
    font-family: "NunitoSans", sans-serif;
    font-size: 64px;
    margin-left: 3%;
}

h3 {
    font-family: "NunitoSansExtraLight", sans-serif;
    font-size: 20px;
    margin-left: 3%;
}

h2 {
    font-family: "NunitoSansExtraLight", sans-serif;
    font-size: 18px;
    margin-left: 3%;
    color: red;
    text-decoration: underline;
}

.divInputs {
    height: 26vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.divBotao {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    /* justify-content: space-evenly; */
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
}

.modalContent h3, .modalContent p{
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
}   

.confirmButton {
    background-color: #A80301;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}