.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    width: 85%;
    margin-top: 14px;
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.1);
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.materiaBadge {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #A80301;
    align-self: center;
    width: 35%;
    height: 22px;
    color: #A80301;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}

.menuVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuVertical img {
    width: 20px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
    width: 90%;
    align-self: center;
}



.nome {
    font-weight: bold;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.mensagem {
    color: #707070;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    align-self: center;
}

.linha {
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: #D3D3D3;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-self: center;
}

.footerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerItem img {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    /* width: 24px;
    height: 24px; */
}

.numero {
    color: #707070;
    margin-right: 4px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.footerText {
    color: #707070;
    margin-left: 4px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.popup {
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.popupButton {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.linhaPopup {
    width: 100%;
    height: 1px;
    background-color: #D3D3D3;
}

.popupButton img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.popupButton:hover {
    background-color: #f0f0f0;
}

/* Estilo para o botão de denunciar */
.popupButtonDenunciar {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.popupButtonDenunciar img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.dataHora {
    display: flex;
    align-self: center;
    justify-content: start;
    width: 90%;
    margin-bottom: 5px;
    color: #707070;
    font-size: 10px;
    font-family: "Nunito Sans", sans-serif;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
}

.modalContent h3, .modalContent p{
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
}

.confirmButton {
    background-color: #A80301;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.cancelButton {
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.confirmButton:hover, .cancelButton:hover {
    opacity: 0.8;
}
