.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    width: 85%;
    margin-top: 14px;
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.1);
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.materiaBadge {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #A80301;
    align-self: center;
    width: 35%;
    height: 22px;
    color: #A80301;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}

.menuVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuVertical img {
    width: 20px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
    width: 90%;
    align-self: center;
}

.imagemPerfil {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .3);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "NunitoSans", sans-serif;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
    object-fit: cover;
    margin-right: 10px;
}


.nome {
    font-weight: bold;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    /* margin-left: 10px; */
}

.mensagem {
    color: #707070;
    margin-top: 2px;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    align-self: center;
    word-break: break-word;
}

.imagemPublicacao {
    display: flex;
    align-self: center;
    border: 1px solid rgb(0, 0, 0, .3);
    width: 90%;
    object-fit: cover;
}

.dataHora {
    display: flex;
    align-self: center;
    justify-content: start;
    width: 90%;
    margin-bottom: 5px;
    color: #707070;
    font-size: 10px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 10px;
}

.linha {
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: #D3D3D3;
    margin-bottom: 5px;
}

textarea {
    outline: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-self: center;
}

.footerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerItem img {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.numero {
    color: #707070;
    margin-right: 4px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.footerText {
    color: #707070;
    margin-left: 4px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

.popup {
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* z-index: 1; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: "Nunito Sans", sans-serif;
}

.popup img {
    margin-right: 5px;
    width: 20px;
}

.opcao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opcao span{
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
}

.linhaPopup {
    width: 100%;
    height: 1px;
    background-color: #D3D3D3;
}

.popupButton img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.popupButtonDenunciar {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 6px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.popupButtonDenunciar img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.blur {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.3);
}

.iconeImagem {
    width: 35px;
    display: flex;
    justify-content: center;
}

.popup-modal {
    position: absolute;
    top: 30%;
    background-color: rgb(227, 227, 227);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    padding: 10px;
    display: flex;
    left: 10%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.popupContent {
    height: 100%;
}

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.iconeFechar {
    display: flex;
    justify-content: end;
    align-self: flex-start;
    padding: 8px 5px 0px 0px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
}

.modalContent h3, .modalContent p{
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
}

.confirmButton {
    background-color: #A80301;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.cancelButton {
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    width: 7rem;
}

.confirmButton:hover, .cancelButton:hover {
    opacity: 0.8;
}
