@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.cadastroDesktopTitulo{
    font-family: 'Merriweather';
    font-weight: bold;
    color: #A80301;
    font-size: 32px;
}

.imageContainer {
    width: 25px;
    height: 25px;
    background-image: url('../../utils/assets/ion_home.png');
}

.imagemClicavel{
    align-self: flex-start;
    padding-left: 6%;
}

.tituloInput {
    font-family: 'Merriweather';
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    padding-left: 3%;
    align-self: flex-start;
}

.divBotao {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.rodape {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    margin-top: 15px;
}

.direcionaCadastro {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    color: red;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../utils/assets/BubbleCadastro.png');
    background-size: cover;
}