@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.ranking {
    right: 0;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
    width: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
    gap: 5px;
    position: fixed;
}

.titulo {
    display: flex;
    justify-content: start;
    align-self: center;
    width: 95%;
    font-size: 20px;
    color: #000000;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 25px;
    font-weight: bold;
}

.rankingItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rankingItem:last-child {
    margin-bottom: 10px;
    border-bottom: none;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 85%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-self: center;
}

.posicao {
    display: flex;
    width: 20%;
}

.posicao span {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: #707070;
}

.posicao img {
    width: 60%;
    align-self: center;
}

.contribuicoes {
    font-size: 11px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: #707070;
}

.nome {
    flex: 1;
    font-weight: bold;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
}