@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
}

.menuLateralDashboard{
    width: 12%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    background-color: white;
}

.infoUsuario{
    width: 100%;
    height: 10vh;
    display: flex;
    margin-top: 5px;
    align-items: center;
    /* justify-content: flex-start; */
    font-family: "Nunito Sans", sans-serif;
}

.fotoPerfilMenu{
    width: 20%;
    margin-right: 5%;
}

.paginasDashboard{
    display: flex;
    flex-direction: column;
}

.infoPaginasDashboard, .infoPaginasPaginas{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin: 10px 0px 5px 0px;   
}

.paginaDaDashboard{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    padding-left: 10px;
    font-family: "Nunito Sans", sans-serif;
}

.paginas {
    margin-top: 10px;
}

.paginaPaginas{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    padding-left: 10px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 10px;
}

.btnSair{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 13px;
    margin-top: 10%;
}

.iconePaginaDaDashboard, .iconePaginaPaginas{
    margin-right: 5px;
    width: 20px; 
}

.divisaoSair{
    width: 100%;
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 220%;
    font-family: "Nunito Sans", sans-serif;
}

.cursorPointer {
    cursor: pointer;
}

.paginaAtiva {
    background-color: rgba(0, 0, 0, 0.06);
}

.texto{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}