.telaDenuncias {
    width: 72%;
    margin-left: 40px;
    margin-right: 40px;
}

.cabecalho {
    width: 95%;
    display: flex;
    justify-content: flex-start;
}

.cardsDenuncias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}