@font-face {
    font-family: NunitoSans;
    src: url('../../utils/fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf');
}

.botaoVermelho{
    background-color: #A80301;
    color: #F3F3F3;
    border-radius: 20px;
    width: 95%;
    height: 61px;
    border: none;
    font-size: 22px;
    font-family: NunitoSans;
}