@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.grafico {
    background-color: #F7F9FB;
    width: 95%;
    border-radius: 16px;
}

.chart {
    display: flex;
    flex-direction: column;
}

.mixed-chart {
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
}