.card {
    display: flex;
    flex-direction: column;
    border: black;
    border-radius: 20px;
    height: var(--altura);
    width: 34vw;
    box-shadow: 0px 8px 50.5px rgb(0, 0, 0, .25);
    background-color: #FFF;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
    border: rgb(0, 0, 0, 0.75) 1px solid;
}